<div style="margin-top: 100px;">
  <h1>Adding.</h1>
  <form>
    <input disabled class="form-control" type="text" placeholder="Id" style="margin-top: 20px;" #idInput value="{{autoincrement}}"><br>
    <input required class="form-control" type="text" placeholder="Name" #nameInput><br>
    <input required class="form-control" type="text" placeholder="Surname" #surInput><br>
    <input required class="form-control" type="text" placeholder="Age" #ageInput><br>

    <input class="btn btn-success" type="reset" value="Add" (click)="onAddEmployee()">
    <button class="btn btn-danger">Cancel</button>

  </form>

</div>
