a:focus {
    background-color:#116fbf;
    color:white;
    text-decoration: underline;
  }

a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: transparent;
}

input{
  font-family: monospace;
  border-radius: 25px;
}
