th,
td,
tr {
  border: 1px solid black;
  width: 10%;
  font-size: 16px;
}

th {
  font-size: 20px;
}


input{
  width:50%;
  font-family: monospace;
  border-radius: 25px;
  }


  .center {
    display: flex;
    justify-content: center;
  }
