<div style="margin-top: 100px;">
    <h1>Editing.</h1>
    <form>
        <input disabled class="form-control" type="text" placeholder="Id" #editId value={{con.id}}
            style="margin-top: 20px;"><br>

        <p-dropdown #idEmployee [options]="employeeItems" placeholder="Select employee." optionLabel="value"
            [showClear]="false">
        </p-dropdown>
        <br><br>

        <p-dropdown #idDevice [options]="deviceItems" placeholder="Select device." optionLabel="value"
            [showClear]="false">
        </p-dropdown>
        <br><br>

    </form>


    <p-calendar #conDatee showSeconds="true" dateFormat="mm/dd/yy" dataType="conDate" inline="true"
        placeholder="Set data." showTime="true" selectionMode="range" [readonlyInput]="true"></p-calendar>
    <br><br>

    <button class="btn btn-success" type="submit" (click)="onEditConnection()">Confirm</button>
    <button class="btn btn-danger" (click)="changeEditState()">Cancel</button>

</div>

