<div style="margin-top: 100px;">
    <h1>Editing.</h1>
    <form>
        <input disabled class="form-control" type="text" placeholder="Id" style="margin-top: 20px;" value={{emp.id}} #editId><br>
        <input required class="form-control" pInputText pKeyFilter="alpha" type="text" placeholder="Name" #editName value="{{emp.name}}"><br>
        <input required class="form-control" pInputText pKeyFilter="alpha" type="text" placeholder="Surname" #editSurname value={{emp.surname}}><br>
        <input required class="form-control" pInputText pKeyFilter="int" type="text" placeholder="Age" #editAge value="{{emp.age}}"><br>
    </form>

    <button class="btn btn-success" type="submit" (click)="onEditEmployee()">Confirm</button>
    <button class="btn btn-danger" (click)="changeEditState()">Cancel</button>

</div>


