<div class="row">
    <div class="col-sm-4" style="padding:30px;">
      <h1>{{title}}</h1>
      <a href="#" class="list-group-item" *ngFor="let dev of Devices">
          <h4 >{{ dev.id }} {{ dev.model }}</h4>
      </a>
    </div>


    <div align="center" class="col-sm-4" style="padding:30px">
        
    </div>
    

    <div class="col-sm-4" style="padding:30px;">
      
      <div class="col-sm-6">
          <h1>Manage.</h1>
      </div>

      <div  class="col-sm-6" style="margin-bottom: 20px; margin-top: 25px;">
          <button (click)="addButton()" class="btn btn-success">Add</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-primary">Edit</button>
        </div>

      <div align="center" class="DeviceAddClass" *ngIf="show===true">
        <form>
          <input class="form-control" type="text" placeholder="Id" style="margin-top: 20px;"><br>
          <input class="form-control" type="text" placeholder="Model"><br>
          <input class="form-control" type="text" placeholder="Color"><br>
          <input class="form-control" type="text" placeholder="State"><br>
        </form>
      </div>
  </div>
</div>

  <router-outlet></router-outlet>

  